@model List<Funcionario> 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <title>Home</title>
</head>

<body>
    <link rel="stylesheet" href="~/css/teste.css">
    <aside class="menu-lateral">
        <header class="header-menu">

            <div class="profile">
                <i class="fa-solid fa-user"></i>
                <span>@Context.Session.GetString("sessaoUsuarioNome")</span>
            </div>

            <nav class="nav-menu">
                <form>
                    <button asp-action="CalculoPagamento">
                        <i class="fa-solid fa-calculator"></i>
                        <span>Cálcular Pagamento</span>
                    </button>

                    <button asp-action="FolhaPontoLateral">
                        <i class="fa-solid fa-clock"></i>
                        <span>Registro de Ponto</span>
                    </button>

                    <button asp-action="FeriasLateral">
                        <i class="fa-solid fa-umbrella-beach"></i>
                        <span>Relação de férias</span>
                    </button>

                    <button asp-action="CadastrarFuncionarioLateral">
                        <i class="fa-solid fa-plus"></i>
                        <span>Cadastrar funcionário</span>
                    </button>

                    <div class="log-out">
                        <button asp-action="SairSistema">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <span>Sair</span>
                        </button>
                    </div>
                </form>

            </nav>

        </header>
    </aside>




    <div class="container mt-4">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>Departamento</th>
                    <th>Função</th>
                    <th>Salário Base</th>
                    <th>Visualizar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var funcionario in Model)
                {
                    <tr>
                        <td>@funcionario.NomeCompleto</td>
                        <td>@funcionario.Departamento</td>
                        <td>@funcionario.NomeCargo</td>
                        <td>R$ @funcionario.Salario.ToString("F2")</td>
                        <td>
                            @if (funcionario.FolhaPagamentoConfirmada == true)
                            {
                                <a asp-action="VisualizarDesconto" asp-route-id="@funcionario.IdFuncionario" class="btn btn-primary btn-sm">
                                    <i class="fa-solid fa-eye"></i> Visualizar
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @using (Html.BeginForm("GerarFolhaPagamento", "CalculoFolha", FormMethod.Get))
        {
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Gerar Folha de Pagamento</button>
            </div>
        }
    </div>


    



</body>
</html>

<script>
    $(document).ready(function () {
        $(".ver-descontos").on("click", function (e) {
            e.preventDefault(); 
            var funcionarioId = $(this).data("funcionario-id");

           
            window.location.href = "/Descontos/Visualizar?funcionarioId=" + funcionarioId;
        });
    });
</script>





    